<nav class="navbar navbar-light" style="background-color: #3e86bb;">
  <div class="container">
    <form class="form-inline row justify-content-center" [formGroup]="userSearchForm" novalidate>

      <div class="col">
        <select class="form-control" formControlName="sortBy" (change)="onChange()">
          <option value='NameASC'>Name (A-Z)</option>
          <option value='NameDESC'>Name (Z-A)</option>
          <option value='scoreASC'>Rank &#8593;</option>
          <option value='scoreDESC'>Rank &#8595;</option>
        </select>
      </div>
      <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
          formControlName="searchUser" (focusout)="searchUser()">
        <div class="input-group-append">
          <span class="input-group-text"> <i class="fa fa-search"></i></span>
        </div>
      </div>

    </form>
  </div>
</nav>

<b *ngIf="totalResults !=null">Total Results : {{totalResults}}</b>
<user-list [usersList]="usersList" [sortBy]="sortBy" [orderBy]="orderBy"></user-list>